$chat-background-color: #79C7C5;
$message_color1: #A1E2D9;
$message_color: #373c43;

$white: #F9FBFF;
$black: #000;
$gray: #373c43;

$text_color: #000;

$navbar_background: #131313;
$navbar_text: #fff;
$chatlist_background: #333;
$message_count: #6d8afd;