.SearchUserWrapper {
    padding-top: 60px;
    // background-color: #131324;
}

.SearchPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    // width: 100%
}