
$white: #F9FBFF;
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font: 'Lato', sans-serif;

$primary: #79C7C5;
$secondary: #A1E2D9;
$white: #F9FBFF;
$dark: #777777;


// .search_messsage {
//     // background-color: transparent;
//     // color: #fff;
//     // border: none;
//     // border-bottom: 2px solid #fff;
//     // padding: 5px;
//     width: 50%;
//     // margin-bottom: 20px;
//     // font-size: 16px;
//     &:focus {
//       outline: none;
//     }
//     justify-self: end;

// }

.bubble {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: $white;
    font-size: 0.7em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
  }

  .incoming {
    // position: absolute;
    width: 50%;
    height: 100%;
    padding: 20px;
    .bubble {
      background: lighten($dark, 23%);
    }
    justify-content: flex-start;
  }
  .outgoing {
    // position: absolute;

    padding: 20px;
    // right: 0;
    // top: 15%;
    width: 50%;
    height: 100%;
    .bubble {
      background: $primary;
      float: right;
    }
  }